main{
    width: 100%;



& table {
    padding-top: 150px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    border: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans;
}

} 


.proxima-pagina {
    position: absolute;
    top: 10px;
    right: 10px; /* posicionar no canto direito */
    color: #007bff; /* azul */
    text-decoration: none;
  }
  
  .proxima-pagina:hover {
    color: #0069d9; /* azul mais escuro quando passar o mouse */
  }